.logo-second-row {
  margin-top: 25px;
}


.hero-slider .slides li h2 {
  font-size: 38px;
  line-height: 56px;
  margin-bottom: 40px;
}

.action-banner h1 {
  font-size: 38px;
  line-height: 44px;
  margin-bottom: 48px;
  margin-bottom: 40px;
}
